<footer id="pagefooter">
    <section class="about">
        <p>The Speak Up! project is run by volunteers from all over.
            If you'd like to contribute see <a href="basics.html">the mission</a>,
            the <a href="coc.html">code of conduct</a> and
            <a href="mentors.html">information for potential mentors</a>
        </p>
        <p>Code contribution are also welcome! See the
            <a href="https://github.com/jnoller/talk-mentorship">github repository</a>.
        </p>
        <p>For any questions about this project, please contact
            <a href="mailto:jnoller@gmail.com">Jesse Noller</a>
            (<a href="https://twitter.com/jessenoller">twitter</a>,
            <a href="http://jessenoller.com/">web</a>) or the
            <a href="mailto:talk-mentorship@python.org">project mailing list.</a>
        </p>
        <p>Credit for the layout/design of the site goes to
            <a href="http://gazit.me/">Idan Gazit</a> who let us borrow his inspiration.
            Credit for this project goes to a <b>lot</b> of people.</p>
    </section>
</footer>
