<footer id="pagefooter">
    <section class="about">
        <p>The Speak Up! project is run by volunteers from all over.
            If you'd like to contribute see <a href="basics.html">the mission</a>,
            the <a href="coc.html">code of conduct</a> and
            <a href="mentors.html">information for potential mentors</a>
        </p>
        <p>Code contribution are also welcome! See the
            <a href="https://github.com/jnoller/talk-mentorship">github repository</a>.
        </p>
        <p>For any questions about this project, please contact
            <a href="mailto:jnoller@gmail.com">Jesse Noller</a>
            (<a href="https://twitter.com/jessenoller">twitter</a>,
            <a href="http://jessenoller.com/">web</a>) or the
            <a href="mailto:talk-mentorship@python.org">project mailing list.</a>
        </p>
        <p>Credit for the layout/design of the site goes to
            <a href="http://gazit.me/">Idan Gazit</a> who let us borrow his inspiration.
            Credit for this project goes to a <b>lot</b> of people.</p>
        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
            <br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Speak Up!</span> by
            <a xmlns:cc="http://creativecommons.org/ns#" href="http://speakup.io" property="cc:attributionName" rel="cc:attributionURL">The Speak Up Community</a>
            is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
        </p>
    </section>
</footer>
